@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
%clearfix{
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after{
		clear: both;
	}
}


@mixin tooltip($background-color: white,
               $arrow-base: 2em,
               $arrow-length: 1em,
               $border-width: 0,
               $border-color: false) {
  
  position: absolute;
  box-sizing: border-box;
  margin-bottom: $arrow-length;
  background-color: $background-color;
  cursor: default;
  visibility: hidden;
  
  &:after {
    content: "";
    position: absolute;
    top: 100%; left: 50%;
    width: 0; height: 0;
    border-top: ($arrow-length - $border-width) solid $background-color;
    border-left: ($arrow-base / 2 - $border-width) solid transparent;
    border-right: ($arrow-base / 2 - $border-width) solid transparent;
    margin-left: ($border-width - $arrow-base / 2);
  }
  
  @if $border-width {
    border: $border-width solid $border-color;
    
    &:before {
      content: "";
      position: absolute;
      top: 100%; left: 50%;
      width: 0; height: 0;
      border-top: $arrow-length solid $border-color;
      border-left: ($arrow-base / 2) solid transparent;
      border-right: ($arrow-base / 2) solid transparent;    
      margin-left: ($arrow-base / -2);
    }
  }
}

// Mixins for prefixes

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation-values) {
  -webkit-animation: $animation-values;
  animation: $animation-values;
}

@mixin transform($transform-values...) {
  -webkit-transform: $transform-values;
  transform: $transform-values;
}