$grid-columns : 12;
$grid-max-width : 65em;
$grid-gutter : 5px;
//Breakpoint
$breakpoint-small : "only screen and (min-width: 20em)";
$breakpoint-medium : "only screen and (min-width: 30em)";


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min:                  480px !default;

// Small screen / tablet
$screen-sm-min:                  768px !default;

// Medium screen / desktop
$screen-md-min:                  992px !default;

// Large screen / wide desktop
$screen-lg-min:                  1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Navbar's Variables
$subMenuItemWidth: 175px;           // Minimum width for submenus' items
$baseMenuBackground: #111;          // Base color theme
$secondaryMenuBackground: #0186ba;  // Secondary color (highlights, triangles...)
$baseMenuColor: #999;               // Proper menu items color
$gutter: 1em;                       // Base gutter
$input: "input[type=checkbox]";     // Checkbox hack selector