@import "variables";
@import "mixins";

*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

.nasibungkus {
    width: 100%;
    margin: 0 auto;
}
.nasibungkus, .bungkus {
    @extend %clearfix;
}

.bungkus {
    margin:0 0 5px 0;
}

/* Hate Gutter? */
.nogutter{
    padding: none;
}

/* Hate Border? */
.noborder{
    border: none;
}

/* Base Class rule for columns */

.nasi{
    float: left;
    padding: $grid-gutter;
    width: 100%;
    min-height: 1px;
    background: #eee;
    text-align: center;
    border:1px solid black;
}


/* Responsive Rule */


@media (min-width: $screen-xs-min) {
      @for $i from 1 through $grid-columns {
        .tempe-#{$i}{
            width: 100% / $grid-columns * $i;
        }
    }
}

@media (min-width: $screen-sm-min){
    @for $i from 1 through $grid-columns {
        .ayam-#{$i}{
            width: 100% / $grid-columns * $i;
        }
    }
}

@media (min-width: $screen-md-min){
    @for $i from 1 through $grid-columns {
        .tahu-#{$i}{
            width: 100% / $grid-columns * $i;
        }
    }
}

@media (min-width: $screen-lg-min){
    @for $i from 1 through $grid-columns {
        .telor-#{$i}{
            width: 100% / $grid-columns * $i;
        }
    }
}
