.nasibungkus, .bungkus {
  *zoom: 1;
}
.nasibungkus:before, .bungkus:before, .nasibungkus:after, .bungkus:after {
  content: " ";
  display: table;
}
.nasibungkus:after, .bungkus:after {
  clear: both;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nasibungkus {
  width: 100%;
  margin: 0 auto;
}

.bungkus {
  margin: 0 0 5px 0;
}

/* Hate Gutter? */
.nogutter {
  padding: none;
}

/* Hate Border? */
.noborder {
  border: none;
}

/* Base Class rule for columns */
.nasi {
  float: left;
  padding: 5px;
  width: 100%;
  min-height: 1px;
  background: #eee;
  text-align: center;
  border: 1px solid black;
}

/* Responsive Rule */
@media (min-width: 480px) {
  .tempe-1 {
    width: 8.33333%;
  }

  .tempe-2 {
    width: 16.66667%;
  }

  .tempe-3 {
    width: 25%;
  }

  .tempe-4 {
    width: 33.33333%;
  }

  .tempe-5 {
    width: 41.66667%;
  }

  .tempe-6 {
    width: 50%;
  }

  .tempe-7 {
    width: 58.33333%;
  }

  .tempe-8 {
    width: 66.66667%;
  }

  .tempe-9 {
    width: 75%;
  }

  .tempe-10 {
    width: 83.33333%;
  }

  .tempe-11 {
    width: 91.66667%;
  }

  .tempe-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .ayam-1 {
    width: 8.33333%;
  }

  .ayam-2 {
    width: 16.66667%;
  }

  .ayam-3 {
    width: 25%;
  }

  .ayam-4 {
    width: 33.33333%;
  }

  .ayam-5 {
    width: 41.66667%;
  }

  .ayam-6 {
    width: 50%;
  }

  .ayam-7 {
    width: 58.33333%;
  }

  .ayam-8 {
    width: 66.66667%;
  }

  .ayam-9 {
    width: 75%;
  }

  .ayam-10 {
    width: 83.33333%;
  }

  .ayam-11 {
    width: 91.66667%;
  }

  .ayam-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .tahu-1 {
    width: 8.33333%;
  }

  .tahu-2 {
    width: 16.66667%;
  }

  .tahu-3 {
    width: 25%;
  }

  .tahu-4 {
    width: 33.33333%;
  }

  .tahu-5 {
    width: 41.66667%;
  }

  .tahu-6 {
    width: 50%;
  }

  .tahu-7 {
    width: 58.33333%;
  }

  .tahu-8 {
    width: 66.66667%;
  }

  .tahu-9 {
    width: 75%;
  }

  .tahu-10 {
    width: 83.33333%;
  }

  .tahu-11 {
    width: 91.66667%;
  }

  .tahu-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .telor-1 {
    width: 8.33333%;
  }

  .telor-2 {
    width: 16.66667%;
  }

  .telor-3 {
    width: 25%;
  }

  .telor-4 {
    width: 33.33333%;
  }

  .telor-5 {
    width: 41.66667%;
  }

  .telor-6 {
    width: 50%;
  }

  .telor-7 {
    width: 58.33333%;
  }

  .telor-8 {
    width: 66.66667%;
  }

  .telor-9 {
    width: 75%;
  }

  .telor-10 {
    width: 83.33333%;
  }

  .telor-11 {
    width: 91.66667%;
  }

  .telor-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=grid.css.map */
