*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  padding: 1.5em 1em; }

.animenu__toggle {
  display: none;
  cursor: pointer;
  background-color: #111;
  border: 0;
  padding: 10px;
  height: 40px;
  width: 40px; }
  .animenu__toggle:hover {
    background-color: #0186ba; }

.animenu__toggle__bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55); }
  .animenu__toggle__bar + .animenu__toggle__bar {
    margin-top: 4px; }

.animenu__toggle--active .animenu__toggle__bar {
  margin: 0;
  position: absolute; }
  .animenu__toggle--active .animenu__toggle__bar:nth-child(1) {
    transform: rotate(45deg); }
  .animenu__toggle--active .animenu__toggle__bar:nth-child(2) {
    opacity: 0; }
  .animenu__toggle--active .animenu__toggle__bar:nth-child(3) {
    transform: rotate(-45deg); }

.animenu {
  display: block; }
  .animenu .animenu__logo {
    padding: 5.5px 1em;
    float: left;
    font-family: 'Open Sans', Arial, Helvetica;
    background-color: #111; }
  .animenu ul {
    padding: 0;
    list-style: none;
    font: 0px 'Open Sans', Arial, Helvetica; }
  .animenu li, .animenu a {
    display: inline-block;
    font-size: 15px; }
  .animenu a {
    color: #aaaaaa;
    text-decoration: none; }

.animenu__nav {
  background-color: #111; }
  .animenu__nav > li {
    position: relative;
    border-right: 1px solid #444444; }
    .animenu__nav > li > a {
      padding: 1em 3em;
      text-transform: uppercase; }
      .animenu__nav > li > a:first-child:nth-last-child(2):before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        border-bottom: 0;
        border-top-color: currentColor;
        top: 50%;
        margin-top: -2px;
        right: 10px; }
    .animenu__nav > li:hover > ul {
      opacity: 1;
      visibility: visible;
      margin: 0; }
    .animenu__nav > li:hover > a {
      color: #fff; }

.animenu__nav__child {
  max-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 2em 0 0 0;
  background-color: #373737;
  transition: margin .15s, opacity .15s; }
  .animenu__nav__child > li {
    width: 100%;
    border-bottom: 1px solid #515151; }
    .animenu__nav__child > li:first-child > a:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      left: 1em;
      top: -6px;
      border: 6px solid transparent;
      border-top: 0;
      border-bottom-color: inherit; }
    .animenu__nav__child > li:last-child {
      border: 0; }
  .animenu__nav__child a {
    padding: 1em;
    width: 100%;
    border-color: #373737; }
    .animenu__nav__child a:hover {
      background-color: #0186ba;
      border-color: #0186ba;
      color: #fff; }

@media screen and (max-width: 767px) {
  .animenu__toggle {
    display: inline-block;
    float: right;
    width: 10%; }

  .animenu__logo {
    float: right;
    width: 90%; }

  .animenu__nav,
  .animenu__nav__child {
    display: none; }

  .animenu__nav {
    margin: 1em 0; }
    .animenu__nav > li {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #515151; }
      .animenu__nav > li:last-child {
        border: 0; }
      .animenu__nav > li:first-child > a:after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: 1em;
        top: -6px;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: inherit; }
      .animenu__nav > li > a {
        width: 100%;
        padding: 1em;
        border-color: #111;
        position: relative; }
    .animenu__nav a:hover {
      background-color: #0186ba;
      border-color: #0186ba;
      color: #fff; }

  .animenu__nav__child {
    position: static;
    background-color: #373737;
    margin: 0;
    transition: none;
    visibility: visible;
    opacity: 1; }
    .animenu__nav__child > li:first-child > a:after {
      content: none; }
    .animenu__nav__child a {
      padding-left: 2em;
      width: 100%; } }
.animenu__nav--open {
  display: block !important; }
  .animenu__nav--open .animenu__nav__child {
    display: block; }

.tooltip-attached {
  position: relative; }
  .tooltip-attached:hover .tooltip {
    visibility: visible;
    -webkit-animation: slide-up 0.3s;
    animation: slide-up 0.3s; }

.tooltip {
  left: 50%;
  bottom: 100%;
  width: 12em;
  margin-left: -6em;
  padding: .5em .75em;
  box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.1); }
  .tooltip.tooltip-border {
    position: absolute;
    box-sizing: border-box;
    margin-bottom: 0.75em;
    background-color: white;
    cursor: default;
    visibility: hidden;
    border: 0.1em solid #ccc;
    color: #333; }
    .tooltip.tooltip-border:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 0.65em solid white;
      border-left: 0.65em solid transparent;
      border-right: 0.65em solid transparent;
      margin-left: -0.65em; }
    .tooltip.tooltip-border:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 0.75em solid #ccc;
      border-left: 0.75em solid transparent;
      border-right: 0.75em solid transparent;
      margin-left: -0.75em; }
  .tooltip.tooltip-no-border {
    position: absolute;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    background-color: black;
    cursor: default;
    visibility: hidden;
    border: 0 solid false;
    color: #fff; }
    .tooltip.tooltip-no-border:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 0.5em solid black;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      margin-left: -0.5em; }
    .tooltip.tooltip-no-border:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 0.5em solid false;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      margin-left: -0.5em; }

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/*# sourceMappingURL=navbar.css.map */
