/*
	Nasi Bungkus GS -> dibaca GeEs (Grid System) 0.1
	Grid Framework inspired from Nasi Bungkus
*/

body{
	margin: 0;
	background: #8D4BAF;
  	margin:10px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


h1 {
  color: white;
}
h1 em {
  color: #666;
  font-size: 16px;
}

.nasibungkus
{
	margin-right: 15px;
	margin-left: 15px;
	background: #fff;
	text-align: center;
}

.bungkus{
	/*background: white;*/
  	margin: 0 0 5px 0;
}
/*Biar height nya ngikutin isi nya*/
.bungkus:before,
.bungkus:after {
  content: "";
  display: table;
  clear: both;
}
/*==========**=============*/

/*Buat semua class yang nasi-*/
[class*='nasi-'] {
	float: left;
  	padding: 5px;
  	/*margin-bottom: 10px;*/
}
/*===========**============*/

/*Definisi perbandingan ukuruan kolom*/
.nasi-1-1  {width: 100%;}
.nasi-1-2  {width: 50%;}
.nasi-1-3  {width: 33.33%;}
.nasi-1-4  {width: 25%;}
.nasi-1-5  {width: 20%;}
.nasi-1-6  {width: 16.6666666667%;}
.nasi-1-7  {width: 14.2857142857%;}
.nasi-1-8  {width: 12.5%;}
.nasi-1-9  {width: 11.1111111111%;}
.nasi-1-10 {width: 10%;}
.nasi-1-11 {width: 9.09090909091%;}
.nasi-1-12 {width: 8.33%;}

/*==========**============*/

/*Responsiv Cuy!!!*/

/*base tablet to small desktop styles*/
@media (min-width: 800px) and (max-width: 1100px) {
  .nasi-1-2,
  .nasi-1-7 {
    width: 100%;
  }
 
  .nasi-1-4,
  .nasi-1-8,
  .nasi-1-10,
  .nasi-1-12 {
    width: 50%;
  }
}

/*base tablet styles*/
@media (max-width: 800px) {
.nasi-1-4,
  .nasi-1-6,
  .nasi-1-8,
  .nasi-1-10,
  .nasi-1-12 {
    width: 50%;
  }
 
  .nasi-1-1,
  .nasi-1-2,
  .nasi-1-3,
  .nasi-1-5,
  .nasi-1-7,
  .nasi-1-9,
  .nasi-1-11 {
    width: 100%;
  }
}

/*base mobile styles - everything 100%*/
@media (max-width: 480px) {
  .nasi-1-1,
  .nasi-1-2,
  .nasi-1-3,
  .nasi-1-4,
  .nasi-1-5,
  .nasi-1-6,
  .nasi-1-7,
  .nasi-1-8,
  .nasi-1-9,
  .nasi-1-10,
  .nasi-1-11,
  .nasi-1-12 {
    width: 100%;
  }
}

/*===========:)===========*/

/*Jenis container buat konten*/
.lauk-ayam
{
	padding: 20px;
	background: #eee;
}

.lauk-tempe
{
	border-radius: 10px;
	padding: 20px;
	background: #eee;
}