.tabs {
    position: relative;
	margin: 40px 150px;
	width: auto;
	height: auto;
}

.tabs input[type="radio"] {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 120px;
}
.tabs input#tab-3{
	left: 240px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs label {
	background: #5ba4a4;
	background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
	background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
    float: left;
	display: block;
	width: auto;
	color: #385c5b;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + label {
	background: #5ba4a4;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.content {
    background: #fff;
	position: relative;
    width: 100%;
	height: 1050px;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content > div {
    position: absolute;
	top: 0;
	left: 0;
	// padding: 10px 40px;
	z-index: 1;
    opacity: 0;
	width: 100%;
	
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,{
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content > div h2,
.content > div h3{
	color: #398080;
}

.content > div .kiri {
	background: #282828;
	width: 100%;
	z-index: 9999;
}
.content > div p {
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	border-left: 8px solid rgba(63,148,148, 0.1);
}

.package-grid{
	padding-left: 60px;
	.list {
		float: left;
		width: 25%;
		height: auto;
		padding: 20px;
		margin: 20px 5px;
		img {
			width: 100%;
			height: 200px;
		}
		h1, p {
			margin-top: 10px;
			>a {
				color: #506A85;
				border-bottom: 2px dashed #506A85;
				&:hover {
					color: #489BBE;
					border-bottom: 2px solid #489BBE;
				}
			}
		}
	.paket-box, .non-paket-box{
	    display: inline-block;
	    position: relative;
	    background-color: #c6c4c4;
	    padding: 25px 0;
	    text-align: center;
	    height: auto;
	    
	    >h1{
	        margin-bottom: 10px;
	        font-size: 1em;
	    }
	    
	    >h2{
	        padding: 10px 80px;
	        margin-bottom: 10px;
	        color: white;
	        background: #282828;
	        font-size: 3em;
	    }

	    

	    >ul>li{
	        margin: 5px;    
	    }

	    >input{
	        padding: 10px;
	        border: none;
	        position: relative;
	        margin-top: 10px;
	        display: inline-block;
	        color: white;
	        background: #22887A;
	    } 
	   
	}
	}
}